<!DOCTYPE html>                 <!-- Angiver at dette er HTML -->
<html lang="en">                <!-- ISO Language code angives -->
<head>                          <!-- Header start -->
    <meta charset="UTF-8">      <!-- charset sættes -->
    <title>Min side</title>     <!-- Title på siden sættes -->
</head>                         <!-- Header slut -->
<body>                          <!-- Body start - Alt indhold på siden her.-->
    <p>                         <!-- Paragraph start -->
        Artikel                 <!-- Indhold -->
    </p>                        <!-- P slut -->
</body>                         <!-- body slut -->
</html>                         <!-- html slut -->


